<!DOCTYPE html>
<html lange="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Category list</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'category_list' %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'account_list' %}">Accounts</a>
                        </li>
                        <li>
                            <a href="{% url 'create_receipt' %}">Create a new receipt</a>
                        </li>
                        <li>
                            <a href="{% url 'create_account' %}">Create a new account</a>
                        </li>
                        <li>
                            <a href="{% url 'create_category' %}">Create a new category</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
            </tr>
            <th>Name</th>
            <th>Number of Receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for category in category_list %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</main>
</body>
</html>
